@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
body {
  background-color: #1f212c; }

.titulo_section {
  background-color: #1f212c; }

html {
  font-family: 'Bitter', serif;
  scroll-behavior: smooth; }

body {
  margin: 0;
  color: antiquewhite; }

.navBar {
  height: 100%;
  display: flex; }

.logo {
  text-decoration: none;
  color: gainsboro; }

.nav__ul {
  display: flex;
  list-style: none;
  margin: 0; }

.nav__li {
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center; }

.nav__li:hover {
  background-color: gainsboro;
  transition: 200ms; }

.nav__li:hover > .nav__a {
  color: #06070d;
  text-decoration: none;
  transition: 200ms; }

.nav-item:hover {
  color: #06070d;
  text-decoration: none;
  transition: 200ms; }

.nav__a {
  text-decoration: none;
  color: gainsboro;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%; }

.title {
  font-size: 72px;
  margin: 0; }

.titulo_section {
  padding: 15px 25px 15px 25px; }

.titulo_contacto {
  padding: 15px 25px 15px 25px;
  margin-bottom: 20px; }

.main_description {
  font-size: 38px; }

.seemore {
  font-size: 32px;
  color: #eaeaea;
  text-decoration: none;
  border: 3px solid #eaeaea;
  border-radius: 7px; }

.seemore:hover {
  font-size: 32px;
  color: #272727;
  text-decoration: none;
  border: 3px solid #eaeaea;
  background-color: #eaeaea;
  transition: 100ms;
  text-shadow: none; }

.presentation {
  height: 100vh;
  background-image: url("../assets/img/iceCreamWallpaper2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
  max-width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: right;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); }

.presentation__text {
  text-align: center;
  color: #eaeaea;
  margin: 0 200px;
  text-shadow: 1px 1px 2px #232323;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%; }

.index_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 470px 470px; }

.index_subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#index_subtext1 {
  background-color: #051116;
  background-image: linear-gradient(to top, #051116, #18262b, #173947); }

#index_subtext2 {
  background-color: #051116;
  background-image: linear-gradient(to bottom, #051116, #18262b, #173947); }

.subtitle_subtext {
  color: white;
  font-size: 36px; }

.paragraph_subtext {
  color: white;
  font-size: 28px; }

.seemore_subtext {
  color: #a6a6a6;
  font-size: auto; }

.seemore_subtext:hover {
  color: #d7d7d7; }

.index_image_cell {
  background-size: cover; }

.index_image {
  height: auto;
  width: 100vh; }

.footer {
  height: 130px;
  background-color: #06070d;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  color: gainsboro; }

.contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%; }

.h5_footer {
  font-size: 18px;
  margin: 20px 0;
  text-align: right; }

#h5_redes {
  text-align: left; }

.boton_contacto {
  font-size: 17px;
  color: #7c7c7c;
  text-decoration: none;
  margin-bottom: 15px; }

.boton_contacto:hover {
  color: gainsboro; }

.icono_redes {
  width: 40px;
  padding-right: 10px; }

.icono_redes:hover {
  transform: scale(1.02);
  transition: 100ms; }

.index_section {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -4px; }

#index_section1 {
  background-color: #A9BCD0;
  padding-right: 250px; }

#index_section2 {
  background-color: #58A4B0;
  padding-left: 250px; }

.sabores_container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  min-height: 700px;
  width: 100%;
  margin: 0; }

.sabores_subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: 500ms; }

.sabores_subcontainer:hover {
  width: 105%;
  transition: 500ms; }

.lista_sabores {
  background-color: rgba(0, 0, 0, 0.348);
  color: #e1e0e0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 500ms; }

.lista_sabores:hover {
  background-color: rgba(0, 0, 0, 0.623);
  color: #f3f3f3;
  transition: 500ms; }

#sabores_cremas {
  background-image: url(../assets/img/saboresCremaComp.jpg);
  background-size: cover;
  background-position: -80px 0;
  background-repeat: no-repeat; }

#sabores_chocolates {
  background-image: url(../assets/img/saboresChocolateComp.jpg);
  background-size: cover;
  background-position: -70px 0;
  background-repeat: no-repeat; }

#sabores_dulceleche {
  background-image: url(../assets/img/saboresDulcelecheComp.jpg);
  background-size: cover;
  background-position: -400px 0;
  background-repeat: no-repeat; }

#sabores_frutales {
  background-image: url(../assets/img/saboresFrutalesComp.jpg);
  background-size: cover;
  background-position: -60px 0;
  background-repeat: no-repeat; }

.contacto_container {
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/blurBackground.jpg);
  background-size: cover; }

.form_section {
  display: flex;
  width: 900px;
  margin: 50px;
  box-shadow: -1px -1px 25px black; }

.form_text_input {
  width: 100%;
  margin: 10px 0;
  resize: none;
  background-color: #101010;
  padding: 5px 0;
  border: 1px solid #101010;
  border-bottom: 1px solid #f4f4f4;
  color: #f4f4f4; }

.contacto_form_container {
  padding: 15px;
  padding-bottom: 25px;
  background-color: #101010;
  color: #f4f4f4;
  width: 50%; }

.contacto_form {
  padding: 0 35px; }

.contacto_foto {
  width: 50%;
  background-image: url(../assets/img/conctactImage.jpg);
  background-size: cover;
  background-repeat: no; }

.submit_button {
  background-color: #101010;
  color: #d8cec1;
  border: 1px solid #d8cec1;
  height: 30px;
  border-radius: 10px;
  width: 100%; }

.submit_button:hover {
  background-color: #d8cec1;
  color: #101010;
  transition: 100ms; }

.container_postres {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 300px 300px;
  gap: 10px;
  padding: 20px 0; }

.producto {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.nombre_producto {
  padding: 10px 25px;
  color: #f6f6f6;
  background: #06070d;
  background: linear-gradient(90deg, rgba(10, 10, 10, 0) 0%, rgba(0, 0, 0, 0.731828) 50%, rgba(0, 0, 0, 0.947514) 100%);
  margin: 0;
  font-size: 22px;
  position: absolute; }

.producto_titulo {
  display: flex;
  justify-content: center; }

.producto_titulo h2 {
  border-bottom: 1px solid white;
  padding: 0 50px 10px 50px; }

.product_image {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.blur {
  height: 100%;
  width: 100%;
  background-color: #10101030;
  transition: 500ms;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.blur:hover {
  background-color: #00000000;
  transition: 500ms; }

.local_descripcion {
  background-color: #8d7404;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.local_descripcion h2 {
  font-size: 32px; }

.local_descripcion p {
  font-size: 24px; }

#local_imagen1 {
  background-image: url(../assets/img/local2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

#local_imagen2 {
  background-image: url(../assets/img/local1.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.navbar-collapse, .navbar {
  height: 60px; }

.navbar .container-fluid {
  background-color: #06070d; }

.nav-item {
  color: gainsboro;
  height: 50px; }

.navbar-brand {
  color: gainsboro;
  font-size: 28px;
  margin-left: 30px; }

.navbar-nav {
  background-color: #06070d; }

.navbar-toggler {
  margin-right: 15px; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  height: 20%;
  width: 25%;
  border-radius: 15px;
  background-color: #000000af; }

@media (max-width: 768px) {
  .local_descripcion {
    background-color: #8d7404;
    grid-row: 1/2;
    grid-column: 1/2; }
  .local_imagen {
    grid-row: 2/3;
    grid-column: 1/3; }
  .titulo_section {
    text-align: center; }
  .contacto_foto {
    display: none; }
  .form_section {
    width: 100%; }
  .contacto_form_container {
    width: 100%; }
  .presentation {
    justify-content: center; }
  .seemore {
    width: 70vw; }
  .main_description {
    width: 70vw;
    font-size: 7vw; }
  .subtitle_subtext {
    font-size: 4vw; }
  .paragraph_subtext {
    font-size: 3vw; }
  .seemore_subtext {
    font-size: 2vw; }
  .navbar-brand {
    margin-left: 15px; }
  .navbar-toggler {
    margin-right: 15px; }
  .presentation__text {
    margin: 0; }
  .h5_footer {
    font-size: 16px; }
  .footer {
    padding: 0 3px; }
  .navbar-nav {
    background-color: #06070d;
    position: absolute;
    width: 100%;
    z-index: 1; }
  #sabores_cremas {
    background-position: 0; }
  #sabores_chocolates {
    background-position: 0; }
  #sabores_dulceleche {
    background-position: -100px 0; }
  #sabores_frutales {
    background-position: 0; }
  .lista_sabores {
    background-color: rgba(0, 0, 0, 0.623);
    color: #f3f3f3; } }
