$background_dark: #06070d;
$background_light: #1f212c;
$text_light: rgb(220, 220, 220);


body {
    background-color: $background_light;
}

.titulo_section {
    background-color: $background_light;
}